.services
{
  padding: 20px 30px 60px 30px;
  background: #f2f4f7;
  color:  #0B3C5D;
  text-align: left;
  border-bottom: 1px solid #CBA135;
 
  
}

.fade-in
{
opacity:0;
transform:translateY(40px);
animation:fadeUp 0.9s ease forwards;
animation-timeline:view();
animation-range:entry 0% cover 35%;
}

@keyframes fadeUp
{
from
{
opacity:0;
transform:translateY(40px);
}
to
{
opacity:1;
transform:translateY(0);
}
}

.services-header h2
{
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 6px;
  font-family: Poppins, sans-serif;
}

.services-header p
{
  font-size: 16px;
  color: #CBA135;
  margin-bottom: 55px;
}

.services-grid
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.service-card
{


  padding-top: 10px;
  padding-bottom: 10px;
 

  border-radius: 4px;

  cursor: pointer;

  transition: 0.2s ease;

  backdrop-filter: blur(6px);

  border: 1px solid #CBA135;    
    display: flex;
    flex-direction: column;
    align-items: center;    

}

.service-card:hover{
    background-color: #cba03524;
}

.service-icon
{
  font-size: 42px;
  margin-bottom: 1px;
}

.service-card h3
{
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #0B3C5D;
}

.service-card p
{
  font-size: 16px;
  color: gray;
  line-height: 1.5;
}
.service-card-images{
    width: 80px;
    height: 80px;
    
}

@media (max-width: 992px)
{
  .services-grid
  {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 600px)
{
  .services
  {
    padding: 10px 10px 20px 10px;
  }

  .services-grid
  {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
  }
  .services-header h2
  {
    font-size: 24px;
    margin: 0px;
  }
  .services-header p
  {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .service-card
  {
    padding: 10px 10px;
    width: 100%;
    height: auto;
  }
 
  .service-card-images{
    width: 60px;
    height: 60px;
  }
  .service-card h3
  {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
  }
  .service-card p
  {
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
    hyphens: auto;
  }
}