.hero
{
  position: relative;
  width: 100%;
  height: 99vh;
  overflow: hidden;
  background: #000;
}

.carousel-track
{
  display: flex;
  height: 100%;
  transition: transform 0.7s ease;
  will-change: transform;
}

.slide
{
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.overlay
{
  position: absolute;
  inset: 0;
 background-color: #00000057;
}

.caption
{
  position: absolute;
  bottom: 80px;
  left: 8%;
  max-width: 560px;
  color: white;
}

.caption h1
{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 14px;
  font-family: Poppins, sans-serif;
}

.caption p
{
  font-size: 18px;
  line-height: 1.6;
  color: #E6E6E6;
  margin-bottom: 24px;
}
.book-btn-hero{
  
background-color: #ff4c4c;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
font-size: 16px;
font-weight: 500;
letter-spacing: 1px;
font-family: Poppins;
cursor: pointer;
transition: all 0.4s ease;
display: flex;
align-items: center;
box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
.book-btn-hero .arrow2{
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.dots
{
  position: absolute;
  bottom: 26px;
  width: 100%;
  text-align: center;
}

.dot
{
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 7px;
  background: rgba(255,255,255,0.45);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s ease;
}

.dot.active
{
  background: #CBA135;
  transform: scale(1.2);
}

.scroll-indicator
{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-indicator span
{
  display: block;
  width: 22px;
  height: 36px;
  border: 2px solid white;
  border-radius: 14px;
  position: relative;
}

.scroll-indicator span::before
{
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 8px;
  background: white;
  border-radius: 2px;
  animation: scrollMove 1.6s infinite;
}

@keyframes scrollMove
{
  0%
  {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  100%
  {
    opacity: 0;
    transform: translate(-50%, 14px);
  }
}

@media (max-width: 768px)
{
  .hero
  {
    height: 55vh;
  }

  .caption
  {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  .caption h1
  {
    margin-bottom: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .caption p
  {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
  }
  .book-btn-hero{
    padding: 5px 8px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
  }
  .dots{
    display: inline-block;
    width: fit-content;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .dot{
    width: 8px;
    height: 8px;
  }
  
}